<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
<!--k      <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title> --> 
  </head>

  <body>
    
    <h1>About Us</h1>
    <p>
      This is aklt.code learn page
      <a href="http://google.com">Rail best tool</a>. 
      Or refer :
      <a href="https://www.codecademy.com/learn/ruby">code bootcamp</a>.
    </p>
  </body>

</html>
